h1 {

    background-color:rgba(137, 43, 226, 0.342);
     width: 180px; 
     margin-left: auto; 
     font-weight: bold;
     font-size: x-large;
     
}

h2 {
margin-left: auto

 
}

h3 {
margin-left: 600px 
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
    grid-template-rows: min-content min-content auto min-content;

}

#navigation a +ul:hover,
#navigation a:hover + ul {
    display: flex;
    flex-direction: column;
    word-wrap: none;
    height: 30vh;
    justify-content: space-between;
}

#navigation {
    position: sticky;
    background-color: ;
    color: ;
    padding: ;
    top: ;

}
#navigation > ul {
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#

p {
font-weight:bold 
}
div {
color:forestgreen 
}
.accent {
  font-style: italic
}
#head {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    background-color:burlywood;
    margin:5px;
    border: 10px;
    padding: 10px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 80%;
}





img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

}