body {
    
    background-color:lightblue;
    border: 10px;
    padding: 100px;
    margin: 2;
    display:grid;
}
  
    
.header{
    font-style:alegreya;
    color:darkblue;
   
}
 
 
#who {    
 font-size:85px;
   text-align:center; 
   min-width:60%;  
  }

#what {
    text-align:center;
 }

.navigation {
    position: sticky;
   }

.navigation a +ul:hover,
.navigation a:hover + ul {
    display: flex;
    flex-direction: column;
    word-wrap: none;
    height: 30vh;
    justify-content: space-between;
}

.navigation > ul {
    flex-direction: column;
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#al {
   text-align:center;
    font-size:25px
}


.content{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align:center;

}

#links{
    font-size:27px;
        }

img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.ps{
    text-align:center;
}

#farewell {
  font-style: italic;
      font-size:40px;
}

#footnotes {
    font-size:30px;
}

.footer {
    text-align:center;
    padding:50px;
}



grid {
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
    grid-template-rows: min-content min-content auto min-content;
}



@media screen and (min-width: 500px) {
    grid-template-areas:
    "navigation header"
    "navigation content"
    "navigation footer";

    grid-template-rows: min-content auto min-content;
    grid-template-columns: 20vw auto;


}






